html{

background: url("/Texture/maxresdefault.jpg") no-repeat center center fixed; 
background-size: cover;

background-blend-mode: lighten;
}

.ButtonContainer {
    position: absolute;
    left: 25%;
}

.button{
    height: 60px;
    width: 200px;
    margin: 20px;
    text-align: center;
    color: #000000;
    text-decoration: blink;
    display: inline-block;
    font-size: 16px;
    transition-duration: 1.0s;
    border-radius: 25px;
}  

.Battle_btn{
    background-image: linear-gradient(#ffffff, #ff0101, #d00000);
    border: 4px solid #ff0101;
}
.Teams_btn{
    background-image: linear-gradient(#ffffff, #0501ff, #0300d0);
    border: 4px solid #0501ff;
}
.Pet_btn{
    background-image: linear-gradient(#ffffff, #01ff23, #00d034);
    border: 4px solid #01ff23;
}
.Inventory_btn{
    background-image: linear-gradient(#ffffff, #c8ff01, #a3d000);
    border: 4px solid #c8ff01;
}

.button:hover {
    box-shadow: 0px 0px 15px #ffffff;
    transform: translateY(+8px);
}

.TitleContainer {
    position: absolute;
    top: calc(52% - 100px);
    left: calc(45% - 100px);
}

.Rocket-container{

    position: absolute;
    top: calc(50% - 25px);
    left: calc(35% - 25px);
}

.Rocket{
    animation: spin 2s linear infinite;
    background: none;
    height: 100px;
    pointer-events: none;
    transform-origin: top right;
    width: 300px;
}

.Rocket img {
    
    transform: translateX(-160px) translateY(-160px);
    
  }

@keyframes spin {
    
      to {
        transform: rotateZ(360deg);
        
      }
  }